<div class="header">
  <input #counterInput class="header_input">
  <button class="header_button button" (click)="inputCounter(counterInput.value)">Set Counter</button>
</div>

<div class="cart">
  <app-card-value></app-card-value>

  <div class="cart-value">
    <h1>{{ counter$ | async }}</h1>
    <div class="cart-button">
      <button class="button" (click)="decrementCounter()">Decrement</button>
      <button class="button" (click)="incrementCounter()">Increment</button>
    </div>
  </div>

</div>

